@model WebApp.Models.LoginViewModel


<input asp-for="Cpf" type="text" placeholder="CPF" required />
<span asp-validation-for="Cpf" class="text-danger"></span>
<i class="fas fa-envelope iCpf"></i>

<input asp-for="Senha" type="password" placeholder="Senha" required />
<span asp-validation-for="Senha" class="text-danger"></span>
<i class="fas fa-lock iPassword"></i>

<div class="divCheck">
    <input type="checkbox" />
    <span>Lembrar Minha Senha</span>
</div>
<button type="submit">Logar</button>