@model IEnumerable<WebApp.ViewModels.DetentoraViewModel>
@{
    ViewData["Title"] = "Gerenciamento de Detentoras";
}

<div id="listDetentora">
    <partial name="_DetentoraList" model="Model" />
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="module" src="~/js/Detentora/detentoraAjax.js"></script>
    <script src="~/js/Detentora/detentora.js"></script>
    }

