@model ICollection<ItemViewModel>


@if (Model.Any())
{
    <div class="card mt-3 shadow">
        <div class="text-center py-3">
            <h4>Detentora Cadastrada na Ata</h4>
        </div>

        <table class="table text-center">
            <thead>
                <tr class="mx-1 row">
                    <th class="col-md-1">
                        Item
                    </th>
                    <th class="col-md-1">
                        Ano
                    </th>
                    <th class="col-md-1">
                        Ata
                    </th>
                    <th class="col-md-9">
                        Detentora
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var list in Model)
                {
                    <tr class="mx-1 row">
                        <td class="col-md-1">
                            @list.CodigoItem
                        </td>
                        <td class="col-md-1">
                            @list.AnoAta
                        </td>
                        <td class="col-md-1">
                            @list.CodigoAta
                        </td>
                        <td class="col-md-9">
                            @list.Detentora.RazaoSocial
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}else{
    <div class="card mt-3 shadow">
        <div class="text-center py-3">
            <h4>Nunhuma Detentora incluída</h4>
        </div>
    </div>
}