@using Domain.Enums
@model ItemViewModel

@{
    ViewData["Title"] = "Cadastrar";
}

<form asp-action="Cadastrar" class="teste">
    <div class="card shadow mt-5">
        <div class="card-header text-center">
            <h2 class="card-title title-card">Cadastro de Novo Item</h2>
        </div>
        <div class="card-body row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-3">
                <label asp-for="AnoAta" class="control-label"></label>
                <input asp-for="AnoAta" class="form-control" />
                <span asp-validation-for="AnoAta" class="text-danger"></span>
            </div>
            <div class="col-3">
                <label asp-for="CodigoAta" class="control-label"></label>
                <input asp-for="CodigoAta" class="form-control" />
                <span asp-validation-for="CodigoAta" class="text-danger"></span>
            </div>
            <div class="col-3">
                <label asp-for="Tipo" class="control-label"></label>
                <select asp-items="@Html.GetEnumSelectList<ETipo>()" class="custom-select"></select>
                <span asp-validation-for="Tipo" class="text-danger"></span>
            </div>
            <div class="col-3">
                <label asp-for="ConsumoEstimado" class="control-label"></label>
                <input asp-for="ConsumoEstimado" class="form-control" />
                <span asp-validation-for="ConsumoEstimado" class="text-danger"></span>
            </div>
            <div class="col-12 mt-3">
                <label asp-for="Descricao" class="control-label"></label>
                <textarea rows="3" asp-for="Descricao" class="form-control"></textarea>
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="col-6 mt-3">
                <label asp-for="Marca" class="control-label"></label>
                <input asp-for="Marca" class="form-control" />
                <span asp-validation-for="Marca" class="text-danger"></span>
            </div>
            <div class="col-6 mt-3">
                <label asp-for="UnidadeAquisicao" class="control-label"></label>
                <input asp-for="UnidadeAquisicao" class="form-control" />
                <span asp-validation-for="UnidadeAquisicao" class="text-danger"></span>
            </div>
        </div>
        <div class="card-footer d-flex">
            <div class="mr-2">
                <input type="submit" value="Salvar" class="btn btn-primary shadow" />
            </div>
            <div>
                <button class="btn btn-secondary shadow" asp-action="Index">Voltar</button>
            </div>
        </div>
    </div>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
