@model ItemViewModel

@{
    ViewData["Title"] = "Cadastrar";
}

<div id="formItem"><partial name="_FormItem" /></div>

<div id="listItens"></div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="/js/Item/itemAjax.js" type="module"></script>
    <script src="/lib/jquery-validation/dist/customValidation.js" type="text/javascript"></script>
}
