@model ItemDetentoraViewModel

@{
    ViewData["Title"] = "Incluir Detentora";
}

<form asp-action="IncludeDetentora">
    <div class="card shadow mt-5">
        <div class="card-header text-center">
            <h2 class="card-title">Incluir Detentora no Item</h2>
        </div>
        <div class="card-body row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-3">
                <label asp-for="AnoAta" class="control-label"></label>
                <select asp-for="AnoAta" class="custom-select" asp-items="new SelectList(ViewBag.ListYears)">
                    <option value="">Selecione um Ano</option>
                </select>
                <span asp-validation-for="AnoAta" class="text-danger"></span>
            </div>
            <div class="col-3">
                <label asp-for="CodigoAta" class="control-label"></label>
                <select asp-for="CodigoAta" class="custom-select" asp-items="(SelectList)ViewBag.ListCodeAta">
                    <option value="">...</option>
                </select>
                <span asp-validation-for="CodigoAta" class="text-danger"></span>
            </div>
            <div class="col-6">
                <label asp-for="CodigoDetentora" class="control-label"></label>
                <select asp-for="CodigoDetentora" class="custom-select" asp-items="(SelectList)ViewBag.ListDetentora">
                    <option value="">...</option>
                </select>
                <span asp-validation-for="CodigoDetentora" class="text-danger"></span>
            </div>
            <div class="col-12 mt-3">
                <label asp-for="CodigoItem" class="control-label"></label>
                <select asp-for="CodigoItem" class="custom-select" asp-items="(SelectList)ViewBag.ListCodeItem" multiple></select>
                <span asp-validation-for="CodigoItem" class="text-danger"></span>
            </div>
        </div>
        <div class="card-footer d-flex">
            <div class="mr-2">
                <input type="submit" value="Salvar" class="btn btn-primary shadow" />
            </div>
            <div>
                <button class="btn btn-secondary shadow" asp-action="Index">Voltar</button>
            </div>
        </div>
    </div>
</form>

<div id="listDetentoraRegistered"></div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="text/javascript" src="~/js/chosen.jquery.js"></script>
    <script type="text/javascript" src="~/js/Item/ItemAjax.js"></script>
    <script type="text/javascript">
        $("#CodigoItem").chosen();
    </script>

    }
