@model ItemParticipanteViewModel

@{
    ViewData["Title"] = "IncluirParticipante";
}


<form asp-action="Cadastrar" class="teste">
    <div class="card shadow mt-4">
        <div class="card-header text-center">
            <h3 class="card-title">Incluir Participante</h3>
        </div>
        <div class="card-body row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-2">
                <label asp-for="AnoAta" class="control-label"></label>
                <select asp-for="AnoAta" class="custom-select" asp-items="new SelectList(ViewBag.ListYears)">
                    <option value="">Selecione um Ano</option>
                </select>
                <span asp-validation-for="AnoAta" class="text-danger"></span>
            </div>
            <div class="col-2">
                <label asp-for="CodigoAta" class="control-label"></label>
                <input asp-for="CodigoAta" class="form-control" />
                <span asp-validation-for="CodigoAta" class="text-danger"></span>
            </div>
            <div class="col-8">
                <label asp-for="CodigoUnidadeAdministrativa" class="control-label"></label>
                <input asp-for="CodigoUnidadeAdministrativa" class="form-control" />
                <span asp-validation-for="CodigoUnidadeAdministrativa" class="text-danger"></span>
            </div>
            <div class="col-12 mt-3">
                <label asp-for="CodigoItem" class="control-label"></label>
                <input asp-for="CodigoItem" class="form-control" />
                <span asp-validation-for="CodigoItem" class="text-danger"></span>
            </div>

        </div>
        <div class="card-footer d-flex">
            <div class="mr-2">
                <input type="submit" value="Salvar" class="btn btn-primary shadow" />
            </div>
            <div>
                <button class="btn btn-secondary shadow" asp-action="Index">Voltar</button>
            </div>
        </div>
    </div>
</form>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
