

<div class="card shadow">
    <div class="card-header text-center">
        <h4>Publicação de Ata</h4>
    </div>
    <div class="card-body">
        <div class="alert alert-warning" role="alert">
            <h6>
                <strong>ORIENTAÇÃO:</strong> Itens suspenso não irão aparecer no relatório final. <strong>REALIZE ESTE PASSO SOMENTE SE TIVER CERTEZA</strong>.
            </h6>
        </div>

        <div class="text-center">
            <span class="text-muted">Selecione uma Ata</span>
        </div>
        <div class="d-flex justify-content-center text-black-50 mt-2">
            <div class="col-3">
                <select id="AnoAta" class="custom-select AnoAtaSelect" asp-items="new SelectList(ViewBag.ListYears)">
                    <option value="">Selecione um Ano</option>
                </select>
            </div>
            <div class="col-3">
                <select id="CodigoAta" class="custom-select CodigoAtaSelect" asp-items="(SelectList)ViewBag.ListCodeAta">
                    <option value="">...</option>
                </select>
            </div>
        </div>
        <hr />
        <div id="result"></div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="/js/Ata/AtaAjax.js"></script>
    <script src="/js/Item/ItemAjax.js" type="module"></script>
    <script src="~/js/Item/Item.js"></script>
    }

