@using Domain.Enums
@model UnidadeAdministrativaViewModel

@{
    ViewData["Title"] = "Cadastrar";
}

<form asp-action="Create" class="teste">
    <div class="card shadow mt-4">
        <div class="card-header text-center">
            <h4 class="card-title">Nova Unidade Administrativa</h4>
        </div>
        <div class="card-body row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-8">
                <label asp-for="NomeUnidadeAdministrativa" class="control-label"></label>
                <input asp-for="NomeUnidadeAdministrativa" class="form-control capitalize" placeholder="Unidade Administrativa" />
                <span asp-validation-for="NomeUnidadeAdministrativa" class="text-danger"></span>
            </div>
            <div class="col-4">
                <label asp-for="Sigla" class="control-label"></label>
                <input asp-for="Sigla" class="form-control uppercase" placeholder="Ex. UADMI" />
                <span asp-validation-for="Sigla" class="text-danger"></span>
            </div>
            <div class="col-5 mt-3">
                <label asp-for="UnidadeDaFederacao" class="control-label"></label>
                <input asp-for="UnidadeDaFederacao" class="form-control capitalize" placeholder="Unidade da Federeção" />
                <span asp-validation-for="UnidadeDaFederacao" class="text-danger"></span>
            </div>
            <div class="col-3 mt-3">
                <label asp-for="EsferaAdministrativa" class="control-label"></label>
                <select asp-for="EsferaAdministrativa" asp-items="@Html.GetEnumSelectList<EhEsferaAdministrativa>()" class="custom-select">
                    <option value="">Selecione uma Opcão</option>
                </select>
                <span asp-validation-for="EsferaAdministrativa" class="text-danger"></span>
            </div>
            <div class="col-4 mt-3">
                <label asp-for="OrgaoEx" class="control-label"></label>
                <div class="d-flex justify-content-around">
                    <div class="form-check form-check-inline mt-2">
                        <input class="form-check-input" type="radio" asp-for="OrgaoEx" value="true">
                        <label class="form-check-label" asp-for="OrgaoEx">Sim</label>
                    </div>
                    <div class="form-check form-check-inline mt-2">
                        <input class="form-check-input" type="radio" asp-for="OrgaoEx" value="false">
                        <label class="form-check-label" asp-for="OrgaoEx">Não</label>
                    </div>
                </div>
                <div class="text-center">
                    <span asp-validation-for="OrgaoEx" class="text-danger"></span>
                </div>          
            </div>
        </div>
        <div class="card-footer d-flex">
            <div class="mr-2">
                <input type="submit" value="Salvar" class="btn btn-primary shadow" />
            </div>
            <div>
                <button class="btn btn-secondary shadow" asp-action="Index">Voltar</button>
            </div>
        </div>
    </div>
</form>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
