@model IEnumerable<WebApp.ViewModels.UnidadeAdministrativaViewModel>

@{
    ViewData["Title"] = "Gerenciamento de Unidade Administrativa";
}

<div id="listUnidadeAministrativa">
    <partial name="_UnidadeAdministrativaList" model="Model" />
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="/js/UnidadeAdministrativa/UnidadadeAdministrativa.js" type="text/javascript"></script>
    <script src="/js/UnidadeAdministrativa/UnidadeAdministrativaAjax.js" type="module"></script>
    }
