<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light mb-3">
        <div class="container d-flex justify-content-start">
            <a class="navbar-brand text-white" asp-controller="Home" asp-action="Index">SIGARP</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="dropdown">
                <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-expanded="false">
                    Cadastros
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" asp-controller="UnidadeAdministrativa" asp-action="Create">Cadastrar Unidade ou Órgão</a>
                    <a class="dropdown-item" asp-controller="Detentora" asp-action="Create">Cadastrar Detentora</a>
                    <a class="dropdown-item" asp-controller="Ata" asp-action="Create">Cadastrar Nova Ata</a>
                    <a class="dropdown-item" asp-controller="Item" asp-action="Create">Cadastrar Itens</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" asp-controller="Item" asp-action="IncludeDetentora">Incluir Detentora no Item</a>
                    <a class="dropdown-item" asp-controller="Item" asp-action="IncludeParticipante">Incluir Participante no Item</a>
                    <a class="dropdown-item" asp-controller="Item" asp-action="IncludeDetentora">Incluir Programação de Consumo</a>
                </div>
            </div>
            <div class="dropdown">
                <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-expanded="false">
                    Gerenciar
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="#">Atas de Registros de Preços</a>
                    <a class="dropdown-item" href="#">Programação de Consumo</a>
                    <a class="dropdown-item" href="#">Detentora</a>
                    <a class="dropdown-item" href="#">Unidade ou Órgão</a>
                </div>
            </div>
            <div class="dropdown">
                <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-expanded="false">
                    Consultas
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="#">Atas de Registros de Preços</a>
                    <a class="dropdown-item" href="#">Programação de Consumo</a>
                    <a class="dropdown-item" href="#">Detentora</a>
                    <a class="dropdown-item" href="#">Unidade ou Órgão</a>
                </div>
            </div>
            <div class="dropdown">
                <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-expanded="false">
                    Publicações
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="#">Publicar Ata</a>
                    <a class="dropdown-item" href="#">Retificar Ata</a>
                </div>
            </div>
            <div class="dropdown">
                <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-expanded="false">
                    Liberações
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="#">Ordem de Fornecimento</a>
                    <a class="dropdown-item" href="#">Ordem Fornecimento Carona</a>
                    <a class="dropdown-item" href="#">Estorno Solicitação OF</a>
                    <a class="dropdown-item" href="#">Estorno Aditivo</a>
                    <a class="dropdown-item" href="#">Alterar Adesão Carona</a>
                    <a class="dropdown-item" href="#">Transferência de Saldo</a>
                </div>
            </div>
            <div class="dropdown">
                <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-expanded="false">
                    Realiamento de Preço
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="#">Suspender Item</a>
                    <a class="dropdown-item" href="#">Realinhar Preço</a>
                    <a class="dropdown-item" href="#">Consultar Realinhamentos</a>
                </div>
            </div>
        </div>
    </nav>
</header>