@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

@if (Model == null)
{
    <div>
        <h2>
            Ooops! Ocorreu um erro, mas não se preocupe. Nosso time será avisado e iremos corrigir em breve!
        </h2>
    </div>
}
else
{
    <div class="d-flex justify-content-around">
        <div class="display-error">
            @switch (Model.ErroCode)
            {
                case 500:
                    <partial name="~/Views/Shared/Erros/_500.cshtml" model="Model" />
                    break;
                case 404:
                case 400:
                    <partial name="~/Views/Shared/Erros/_404.cshtml" model="Model" />
                    break;
                case 403:
                    <partial name="~/Views/Shared/Erros/_403.cshtml" model="Model" />
                    break;
                default:
                    ViewData["Title"] = Model.Title;

                    <div>
                        <h2>@Html.Raw(Model.Message)</h2>
                    </div>
                    break;
            }
        </div>
    </div>
}