<div id="infoAta" class="d-none">
    <div class="text-center">
        <span class="text-muted">Buscar Informação da Ata</span>
    </div>
    <div class="d-flex justify-content-center mt-2">
        <div class="col-3">
            <select id="AnoAta" class="custom-select" asp-items="new SelectList(ViewBag.ListYears)">
                <option value="">Selecione um Ano</option>
            </select>
        </div>
        <div class="col-3">
            <select id="CodigoAta" class="custom-select" asp-items="(SelectList)ViewBag.ListCodeAta">
                <option value="">...</option>
            </select>
        </div>
    </div>
</div>

<div id="editAta" class="d-none">
    <div class="text-center">
        <span class="text-muted">Editar Ata</span>
    </div>
    <div class="d-flex justify-content-center mt-2">
        <div class="col-3">
            <select id="AnoAta" class="custom-select" asp-items="new SelectList(ViewBag.ListYears)">
                <option value="">Selecione um Ano</option>
            </select>
        </div>
        <div class="col-3">
            <select id="CodigoAta" class="custom-select" asp-items="(SelectList)ViewBag.ListCodeAta">
                <option value="">...</option>
            </select>
        </div>
    </div>
</div>

<div id="deleteAta" class="d-none">
    <div class="text-center">
        <span class="text-muted">Excluir Ata</span>
    </div>
    <div class="d-flex justify-content-center mt-2">
        <div class="col-3">
            <select id="AnoAta" class="custom-select" asp-items="new SelectList(ViewBag.ListYears)">
                <option value="">Selecione um Ano</option>
            </select>
        </div>
    </div>
</div>