@model AtaViewModel

<div class="container my-4">
    <ul class="nav nav-tabs justify-content-center text-muted" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active btn" id="ata-tab" data-toggle="tab" data-target="#ata" role="tab" aria-controls="ata" aria-selected="true">Ata</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="item-tab" data-toggle="tab" data-target="#item" role="tab" aria-controls="item" aria-selected="false">Itens</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="orgao-tab" data-toggle="tab" data-target="#orgao" role="tab" aria-controls="orgao" aria-selected="false">Participantes</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="detentora-tab" data-toggle="tab" data-target="#detentora" role="tab" aria-controls="detentora" aria-selected="false">Detentoras</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade show active" id="ata" role="tabpanel" aria-labelledby="ata-tab">
            <partial name="_AtaDetails" model="@Model" />
        </div>
        <div class="tab-pane fade" id="item" role="tabpanel" aria-labelledby="item-tab">
            <partial name="_ItensDetails" model="@Model.ItensDetentoraViewModel" />
        </div>
        <div class="tab-pane fade" id="orgao" role="tabpanel" aria-labelledby="orgao-tab">
            <partial name="_UnidadesAdministrativaDetails" model="@Model.ParticipanteItemViewModel"/>
        </div>
        <div class="tab-pane fade" id="detentora" role="tabpanel" aria-labelledby="detentora-tab">
            <partial name="_DetentorasDetails" model="@Model.ItensDetentoraViewModel" />
        </div>
    </div>
</div>