@model WebApp.ViewModels.AtaViewModel
@using Domain.Enums

@{
    ViewData["Title"] = "Cadastrar";
}

<form asp-action="Create">
    <div class="card shadow mt-4">
        <div class="card-header text-center">
            <h3 class="card-title">Cadastro de Ata</h3>
        </div>
        <div class="card-body row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-3">
                <label asp-for="AnoAta" class="control-label"></label>
                <select asp-for="AnoAta" class="custom-select" asp-items="new SelectList(ViewBag.ListYears)">
                    <option value="">Selecione um Ano</option>
                </select>
                <span asp-validation-for="AnoAta" class="text-danger"></span>
            </div>
            <div class="col-3">
                <label asp-for="CodigoAta" class="control-label"></label>
                <input asp-for="CodigoAta" class="form-control" placeholder="Número da Ata" readonly />
                <span asp-validation-for="CodigoAta" class="text-danger"></span>
            </div>
            <div class="col-3">
                <label asp-for="AnoPregao" class="control-label"></label>
                <select asp-for="AnoPregao" class="custom-select" asp-items="new SelectList(ViewBag.ListYears)">
                    <option value="">Selecione um Ano</option>
                </select>
                <span asp-validation-for="AnoPregao" class="text-danger"></span>
            </div>
            <div class="col-3">
                <label asp-for="NumeroProcesso" class="control-label"></label>
                <input asp-for="NumeroProcesso" class="form-control" placeholder="Ex. 0000.00000-00-0000" />
                <span asp-validation-for="NumeroProcesso" class="text-danger"></span>
            </div>
            <div class="col-3 mt-3">
                <label asp-for="TipoPregao" class="control-label"></label>
                <select asp-for="TipoPregao" asp-items="@Html.GetEnumSelectList<EPregao>()" class="custom-select">
                    <option value="">Selecione um Tipo</option>
                </select>
                <span asp-validation-for="TipoPregao" class="text-danger"></span>
            </div>
            <div class="col-3 mt-3">
                <label asp-for="NumeroPregao" class="control-label"></label>
                <input asp-for="NumeroPregao" class="form-control" type="number" placeholder="Ex. 0000" />
                <span asp-validation-for="NumeroPregao" class="text-danger"></span>
            </div>
            <div class="col-3 mt-3">
                <label asp-for="DataHomologacao" class="control-label"></label>
                <input asp-for="DataHomologacao" class="form-control" type="date" />
                <span asp-validation-for="DataHomologacao" class="text-danger"></span>
            </div>
            <div class="col-3 mt-3">
                <label asp-for="DataPublicacaoDOE" class="control-label"></label>
                <input asp-for="DataPublicacaoDOE" class="form-control" type="date" />
                <span asp-validation-for="DataPublicacaoDOE" class="text-danger"></span>
            </div>
            <div class="col-6 mt-3">
                <label asp-for="ObjetoResumido" class="control-label"></label>
                <textarea rows="4" asp-for="ObjetoResumido" class="form-control capitalize"></textarea>
                <span asp-validation-for="ObjetoResumido" class="text-danger"></span>
            </div>
            <div class="col-6 mt-3">
                <label asp-for="Observacao" class="control-label"></label>
                <textarea rows="4" asp-for="Observacao" class="form-control capitalize"></textarea>
                <span asp-validation-for="Observacao" class="text-danger"></span>
            </div>
        </div>
        <div class="card-footer d-flex">
            <div class="mr-2">
                <input type="submit" value="Salvar" class="btn btn-primary shadow" />
            </div>
            <div>
                <button class="btn btn-secondary shadow" asp-action="Index">Voltar</button>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script src="~/js/Ata/AtaAjax.js"></script>
}
