@{
    ViewData["Title"] = "Gerenciamento de Ata";
}

<div class="card shadow">
    <div class="card-header text-center">
        <h4>Gerenciamento de Atas de Registro de Preço</h4>
        <div>
            <span class="text-muted">Escolha uma opção</span>
        </div>
    </div>

    <div class="card-body">

        <ul class="nav justify-content-around" id="pills-tab" role="tablist">
            @*Botão Informação*@
            
            <li class="nav-item" role="presentation">
                <button class="btn shadow transition btnTab" id="pills-item-tab" data-toggle="pill" data-target="#pills-item" type="button" role="tab" aria-controls="pills-item" aria-selected="false">
                    <svg width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                    </svg>
                    <span class="ml-2">Editar</span>
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="btn shadow transition btnTab" id="pills-info-tab" data-toggle="pill" data-target="#pills-info" type="button" role="tab" aria-controls="pills-info" aria-selected="true">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-square" viewBox="0 0 16 16">
                        <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                        <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                    </svg>
                    <span class="ml-2">Informação Geral</span>
                </button>
            </li>
            @*Botão Editar*@
            @*Botão Excluir*@
            <li class="nav-item" role="presentation">
                <button class="btn shadow transition btnTab" id="pills-delete-tab" data-toggle="pill" data-target="#pills-delete" type="button" role="tab" aria-controls="pills-delete" aria-selected="false">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-square" viewBox="0 0 16 16">
                        <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                    </svg>
                    <span class="ml-2">Excluir</span>
                </button>
            </li>
        </ul>
        <hr />

        @*Campo de Busca*@
        <div class="tab-content" id="pills-tabContent">

            @*Editar*@
            <div class="tab-pane fade" id="pills-item" role="tabpanel" aria-labelledby="pills-item-tab">
                <div class="text-center">
                    <span class="text-muted">Editar Ata</span>
                </div>
                <div class="d-flex justify-content-center mt-2">
                    <div class="col-3">
                        <select id="AnoAtaEdit" class="custom-select AnoAtaSelect" asp-items="new SelectList(ViewBag.ListYears)">
                            <option value="">Selecione um Ano</option>
                        </select>
                    </div>
                    <div class="col-3">
                        <select id="CodigoAtaEdit" class="custom-select CodigoAtaSelect" asp-items="(SelectList)ViewBag.ListCodeAta">
                            <option value="">...</option>
                        </select>
                    </div>
                </div>
            </div>

            @*Informação*@
            <div class="tab-pane fade show" id="pills-info" role="tabpanel" aria-labelledby="pills-info-tab">
                <div class="text-center">
                    <span class="text-muted">Buscar Informação da Ata</span>
                </div>
                <div class="d-flex justify-content-center mt-2">
                    <div class="col-3">
                        <select id="AnoAtaInfo" class="custom-select AnoAtaSelect" asp-items="new SelectList(ViewBag.ListYears)">
                            <option value="">Selecione um Ano</option>
                        </select>
                    </div>
                    <div class="col-3">
                        <select id="CodigoAtaInfo" class="custom-select CodigoAtaSelect" asp-items="(SelectList)ViewBag.ListCodeAta">
                            <option value="">...</option>
                        </select>
                    </div>
                </div>
            </div>

            @*Excluir*@
            <div class="tab-pane fade" id="pills-delete" role="tabpanel" aria-labelledby="pills-delete-tab">
                <div class="text-center">
                    <span class="text-muted">Excluir Ata</span>
                </div>
                <div class="d-flex justify-content-center mt-2">
                    <div class="col-3">
                        <select id="AnoAtaDelete" class="custom-select AnoAtaSelect" asp-items="new SelectList(ViewBag.ListYears)">
                            <option value="">Selecione um Ano</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="result"></div>
</div>



@section Scripts {
    <script src="/js/Ata/AtaAjax.js" type="module"></script>
    <script src="/js/Item/ItemAjax.js" type="module"></script>
    <script src="/js/Item/Item.js"></script>
    <script src="/js/Ata/ata.js"></script>
    <script src="/js/Detentora/detentora.js"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}