@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@100;300;400;500;700;900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

:root {
    --prussian-blue: #13293d;
    --sapphire-blue: #006494;
    --celadon-blue: #247ba0;
    --caroline-blue: #1b98e0;
    --azure-web-color: #e8f1f2;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

header nav, footer {
    background-color: var(--prussian-blue);
    box-shadow: 2px 2px 10px 0 var(--prussian-blue);
}

.dropdown a {
    color: var(--azure-web-color);
}

    .dropdown a:hover {
        color: var(--celadon-blue);
    }

.dropdown .dropdown-menu {
    background-color: var(--prussian-blue);
}

body {
    background: var(--azure-web-color);
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
    color: var(--azure-web-color);
}

.title-card {
    color: var(--prussian-blue);
}

.container-login {
    background-color: whitesmoke;
    padding: 6px;
    width: 430px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 darkgrey;
}

    .container-login form {
        position: absolute;
        margin-top: 80px;
        transition: .5s;
        width: 380px;
        height: 480px;
    }

        .container-login form input[type="text"], input[type="password"] {
            border: none;
            margin-top: 40px;
            border-radius: 60px;
            padding: 8px 0 8px 35px;
            outline: none;
            width: 100%;
        }

        .container-login form button[type="submit"] {
            background: #660fc8;
            color: white;
            border-radius: 30px;
            width: 100%;
            border: none;
            outline: none;
            padding: 8px 0 8px 15px;
            font-size: 15px;
            margin-top: 40px;
            cursor: pointer;
        }

        .container-login form .divCheck {
            margin: 10px 0 0 5px;
            width: 80%;
            font-size: 13px;
        }


.buttonsForm {
    margin-top: 40px;
    position: relative;
    border-radius: 30px;
    box-shadow: 0 0 7px blueviolet;
}

    .buttonsForm button {
        cursor: pointer;
        background: transparent;
        border: none;
        position: relative;
        padding: 10px 29px;
    }

.btnColor {
    position: absolute;
    width: 108px;
    height: 100%;
    background: linear-gradient(to right, #5956e9, #a963f8);
    border-radius: 30px;
    transition: .3s;
}

#formEntrar {
    left: 25px;
}

#formRegistrar {
    left: 450px;
}

i {
    position: absolute;
    left: 0;
    padding: 10px 10px;
}

.iCpf {
    top: 40px;
}

.iPassword {
    top: 114px;
}

.iPassword2 {
    top: 190px;
}
